.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;

  padding: 5% 2%;
}

.loan-table {
  border-collapse: collapse;

  font-size: 13px;

  td {
    padding: 8px;
    border: 1px solid black;
  }
}

.inside-table {
  td {
    padding: 0;
    border: 0;
  }
}
