.page-container {
  background-color: var(--background-color-2);

  display: flex;
  flex-flow: column nowrap;
}

.page-title {
  display: flex;
  padding: 2% 2%;
  justify-content: center;

  h1 {
    margin: 0;
  }
}

.table-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  gap: 15px;
  padding: 1% 2% 2% 1%;
}

.loan-table {
  border-collapse: collapse;
  background: linear-gradient(180deg, #CBFEC7 0%, rgba(84, 222, 252, 0.58) 100%);

  font-size: 13px;

  td {
    padding: 8px;
    border: 1px solid #7F7F7F;
  }
}

.inside-table {
  td {
    padding: 0;
    border: 0;
  }
}

.van-tir-btn {
  width: 100%;
  max-width: 130px;

  margin-top: 15px;

  padding: var(--input-padding);
  border-radius: var(--input-border-radius);

  background-color: #3db8ff;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  color: #eeeeee;
  font-weight: 700;
  font-size: 13px;
}

.van-tir-btn:hover {
  background-color: #4fbfff;
  color: #ffffff;
}
