<table>
  <thead>
  <tr>
    <th *ngFor="let header of tableHeaders">{{ header }}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let row of tableData">
    <td>{{ row.paymentIndex }}</td>
    <td>
      <div class="edit-tea" *ngIf="row.edit">
        <input [placeholder]="row.tea" [(ngModel)]="newTea" type="number" (input)="onTeaInput($event)">
      </div>
      <div *ngIf="!row.edit">{{ row.tea }}%</div>
    </td>
    <td>{{ this.roundToNDecimals(row.tep, 7) }}%</td>
    <td>
      <div *ngIf="row.edit">
        <select [(ngModel)]="gracePeriodSelected">
          <option *ngFor="let period of gracePeriods" [value]="period">{{ period }}</option>
        </select>
      </div>
      <div *ngIf="!row.edit">{{ row.gracePeriod }}</div>
    </td>
    <td>{{ this.roundToNDecimals(row.initialBalance, 2) }}</td>
    <td>{{ this.roundToNDecimals(row.interestAmount, 2) }}</td>
    <td>{{ this.roundToNDecimals(row.periodicPayment, 2) }}</td>
    <td>{{ row.costs }}</td>
    <td>{{ this.roundToNDecimals(row.mortgageLifeInsurance, 2) }}</td>
    <td>{{ this.roundToNDecimals(row.allRiskInsurance, 2) }}</td>
    <td>{{ this.roundToNDecimals(row.amortization, 2) }}</td>
    <td>{{ this.roundToNDecimals(row.finalBalance, 2) }}</td>
    <td>{{ this.roundToNDecimals(row.cashFlow, 2) }}</td>
    <td>
      <div class="action-btn-container" *ngIf="row.edit">
        <button (click)="onSave(row)">Guardar</button>
        <button (click)="row.edit = false">Cancelar</button>
      </div>
      <div *ngIf="!row.edit">
        <button (click)="onEdit(row)">Editar</button>
      </div>
    </td>
  </tr>
  </tbody>
</table>
<div class="separator"></div>

<div class="action-buttons">
  <button class="save-payment">Guardar pago</button>
  <button class="van-tir-btn" routerLink="/van-tir">VAN y TIR</button>
</div>
