<table>
  <thead>
  <tr>
    <th *ngFor="let header of tableHeaders">{{ header }}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let row of tableData">
    <td>{{ row.paymentIndex }}</td>
    <td>
      <div class="edit-tea" *ngIf="row.edit">
        <input [placeholder]="row.tea" [(ngModel)]="newTea" type="number" (input)="onTeaInput($event)">
      </div>
      <div *ngIf="!row.edit">{{ row.tea }}%</div>
    </td>
    <td>{{ row.tep }}%</td>
    <td>
      <div *ngIf="row.edit">
        <select [(ngModel)]="gracePeriodSelected">
          <option *ngFor="let period of gracePeriods" [value]="period">{{ period }}</option>
        </select>
      </div>
      <div *ngIf="!row.edit">{{ row.gracePeriod }}</div>
    </td>
    <td>{{ row.initialBalance }}</td>
    <td>{{ row.interestAmount }}</td>
    <td>{{ row.periodicPayment }}</td>
    <td>{{ row.costs }}</td>
    <td>{{ row.mortgageLifeInsurance }}</td>
    <td>{{ row.allRiskInsurance }} %</td>
    <td>{{ row.amortization }}</td>
    <td>{{ row.finalBalance }}</td>
    <td>{{ row.cashFlow }}</td>
    <td>
      <div class="action-btn-container" *ngIf="row.edit">
        <button (click)="onSave(row)">Guardar</button>
        <button (click)="row.edit = false">Cancelar</button>
      </div>
      <div *ngIf="!row.edit">
        <button (click)="onEdit(row)">Editar</button>
      </div>
    </td>
  </tr>
  </tbody>
</table>
