/* Chrome, Safari, Edge, Opera
  Removes the up and down buttons from the <input type="number"> */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

table {
  font-size: 12px;
  border-collapse: collapse;

  th {
    border: 1px solid #7F7F7F;

    width: 50px;
    padding: 3px 5px;

    font-size: 11px;
    white-space: normal;
    word-wrap: break-word;
  }
}

td {
  padding: 8px;
  border: 1px solid #7F7F7F;
}

.edit-tea {
  input {
    width: 60px;
    padding: 5px 3px;
  }
}

.action-btn-container {
  display: flex;
  flex-flow: column wrap;

  gap: 5px;
}

.separator {
  height: 20px;
}

.van-tir-btn {
  width: 100%;
  max-width: 110px;
  height: 40px;

  padding: var(--input-padding);
  border-radius: 7px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  background-color: #3db8ff;
  border: none;

  color: #eeeeee;
  font-weight: 700;
  font-size: 12px;
}

.van-tir-btn:hover {
  background-color: #4fbfff;
  color: #ffffff;
}
