<section>
  <form class="sign-in-form" [formGroup]="signInForm" (submit)="submitForm()">
    <div class="form-title">
      <h1>Inicio de Sesión</h1>
    </div>

    <div class="form-row">
      <input type="email" placeholder="Correo electrónico" formControlName="email">
    </div>

    <div class="form-row">
      <input type="password" placeholder="Contraseña" formControlName="password">
    </div>

    <div class="sign-in-button">
      <button type="submit">Iniciar Sesión</button>
    </div>
  </form>
</section>
