/* Chrome, Safari, Edge, Opera
  Removes the up and down buttons from the <input type="number"> */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.background {
  background-color: var(--background-color);

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.loan-application {
  background-color: var(--background-color-2);
  border-radius: 10px;

  box-sizing: border-box;
  width: 60%;
  padding: 10px 0 30px 5%;
}

.form-grid {
  display: flex;
  flex-flow: row wrap;
  align-items: center;

  .col {
    width: 40%;

    display: flex;
    flex-flow: column nowrap;
    gap: 20px;

    + .col {
      margin-left: 40px;
    }
  }
}

input {
  border-radius: var(--input-border-radius);
  box-sizing: border-box;
  padding: var(--input-padding);
  border: var(--input-border);

  width: 100%;
  max-width: 250px;
  height: 45px;

  font-size: 14px;
}

textarea {
  box-sizing: border-box;
  resize: none;
}

.display {
  border-radius: var(--input-border-radius);
  background-color: #9DEDFF;
  padding: 12px var(--input-padding);
  border: var(--input-border);

  width: 100%;
  max-width: 250px;
  height: 45px;
}

select {
  width: 100%;
  max-width: 250px;
  height: 45px;
  font-size: 15px;
  color: #343434;
  padding: 0 var(--input-padding);
  border-radius: var(--input-border-radius);

  option:nth-child(1) {
    color: #8C8C8C;
  }
}

.calc-button {
  margin-top: 30px;

  button {
    width: 100%;
    max-width: 200px;

    padding: var(--input-padding);
    border-radius: var(--input-border-radius);

    background-color: #2FB4FF;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    color: #fff;
    font-weight: 500;
    font-size: 14px;
  }

  button:active {
    font-weight: 600;
  }

  button:disabled {
    background-color: #cbcbcb;
    border: 1px solid #cbcbcb;

    color: #606060;
  }

  button:disabled:active {
    font-weight: 500;
  }
}

.errors {
  box-sizing: border-box;

  width: 100%;
  max-width: 250px;

  padding: 1%;

  div {
    color: #d23030;
    font-size: 13px;
  }
}

.form-field-info {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;

  width: 100%;
  max-width: 250px;
}

.help-icon {
  width: 20px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;

  width: 200px;
  font-size: 13px;

  background-color: #ffc072;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #000;
  padding: 10px 10px;
  border-radius: 4px;
  position: absolute;
  z-index: 1;
  transform: translateX(1%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltiptext ul {
  padding: 0;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

