.page-container {
  padding: 1% 2%;
}

table {
  border-collapse: collapse;
  font-size: 13px;

  th {
    border: 1px solid #7F7F7F;
    padding: 3px 5px;
  }

  td {
    padding: 8px;
    border: 1px solid #7F7F7F;
  }
}
