.background {
  background-color: var(--background-color);

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.page-container {
  padding: 1% 2%;
  background-color: var(--background-color-2);
}

table {
  border-collapse: collapse;
  font-size: 13px;

  th {
    border: 1px solid #7F7F7F;
    padding: 3px 5px;
  }

  td {
    padding: 8px;
    border: 1px solid #7F7F7F;
  }
}
