/* You can add global styles to this file, and also import other style files */
:root {
  // For input fields and buttons
  --input-border-radius: 5px;
  --input-padding: 15px;
  --input-border:  1px solid #8C8C8C;
  --button-color: #8BD5FF;
  --background-color: #A2DC8D;
  --background-color-2: #F3FFEF;
}
